@model List<string>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Todos for today:</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
</body>
</html>
